@page
@model ContosoCrafts.WebSite.Pages.PollsPages.ReadPollPageModel
@{
    ViewData["Title"] = "Read Poll";

    <input id="opinionsJson" value="@Model.OpinionJsonData" hidden />
}



<body style=" background-image:none !important; background-color: rgb(36 36 36 / 0.48) !important;">

    <div class="container">

        <div class="row">
            <h3>@Model.PollModel.Title  Visualization</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <h5>Poll Title: </h5>
                <h5>@Model.PollModel.Title</h5>
            </div>
            <div class="col-6">
                <h5>Poll Description: </h5>
                <h5>@Model.PollModel.Description</h5>
            </div>
            <div class="col-6">
                <h5>Author: </h5>
                <h5>@Model.Author.Username</h5>
            </div>
        </div>
        <hr />

        <div class="row">
            <br />
            <div class="row">

                <div class="col-auto">
                    <canvas id="myReadChart" width="400" height="400"></canvas>

                </div>

            </div>



        </div>

    </div>

</body>

<script>

    // Array to Place Labels
    var getlabels = [];

    // Array to Place Votes
    var getVotes = [];

    // Array to Place Colors
    var getColors = [];

    /// Function to Extract the OpinionNames and Votes from Json Object
    /// param : size 
    function ExtractLabelVotes(size) {
        for (var i = 0; i < size; i++) {
            getlabels[i] = opinionObject[i].OpinionName;
            getVotes[i] = opinionObject[i].NumCounts;
        }
    }

    /// Function to Generate Random Colors
    /// param : size 
    function GenerateRandomColors(size) {

        for (var i = 0; i < size; i++) {

            // Random Red
            var red = Math.floor(Math.random() * 254);
            // Random Green
            var green = Math.floor(Math.random() * 254);
            // Random Blue
            var blue = Math.floor(Math.random() * 254);

            // Generate String of Random Colors
            getColors[i] = 'rgb(' + red + ',' + green + ',' + blue + ')';

        }
    }

    // Get the Canvas by ID
    const ctx = document.getElementById('myReadChart');

    // Get the Parse Json Input Data by ID
    var dataJson = document.getElementById('opinionsJson').value;

    // Deserialize Json Object
    var opinionObject = JSON.parse(dataJson);

    // Dissect Json Object
    ExtractLabelVotes(opinionObject.length);

    // Get Random COlor
    GenerateRandomColors(opinionObject.length);

    // Debugging
    console.log(dataJson);
    // Debugging
    console.log(getlabels);
    // Debugging
    console.log(getVotes);
    // Debugging
    console.log(getColors);

    // Constant Chart Instance, which will be a DoughNut
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: getlabels,
            datasets: [{
                label: '# Votes',
                data: getVotes,
                backgroundColor: getColors,
                hoverOffset: 4
            }]
        }
    });

</script>