@page
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService UserService
@model ContosoCrafts.WebSite.Pages.ProfilePageModel

@{

    var sample = Request.QueryString.Value;

    string getCookieValue = HttpContext.Request.Cookies["nameCookie"];

    if (sample != "")
    {
        HttpContext.Response.Cookies.Delete("nameCookie");

        string cookieValue = sample.Substring(9, (sample.Length - 9));

        HttpContext.Response.Cookies.Append("nameCookie", cookieValue);

        getCookieValue = cookieValue;
    }

    UserModel getUser = UserService.GetUser(getCookieValue);


    int fiv = 9;

    <h3 class="clearfix">@Model.Message</h3>

    <div class="container">

        <div class="row">

            <div class="col-12">
                <h3> Welcome @getUser.Username </h3>
            </div>

            <div class="col-12">
                <hr />
            </div>

            <div class="col">
                <div class="container-fluid">
                    <div>
                        <h5> Profile Information </h5>
                        <hr />
                    </div>

                    <div class="row" style="font-size:20px">

                        <div class="col-6"> User ID:   </div>
                        <div class="col-6"> @getUser.UserID  </div>

                        <div class="col-6"> User Name:  </div>
                        <div class="col-6"> @getUser.Username  </div>

                        <div class="col-6"> User Email:  </div>
                        <div class="col-6"> @getUser.Email  </div>

                        <div class="col-6"> User Password:  </div>
                        <div class="col-6"> @getUser.Password  </div>

                        <div class="col-6"> User Location:  </div>
                        <div class="col-6"> @getUser.Location  </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <form method="post" asp-page="ProfilePage">
                    <h5> Update Information </h5><hr />
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">User Name</label>
                            <input type="hidden" asp-for="UpdateUser.UpdateID" name="UpdateID" value="@getUser.UserID" class="form-control" placeholder="@getUser.UserID" />
                            <input type="text" asp-for="UpdateUser.UpdateName" name="UpdateName" value="@getUser.Username" class="form-control" placeholder="@getUser.Username">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">User Email</label>
                            <input type="text" asp-for="UpdateUser.UpdateEmail" name="UpdateEmail" value="@getUser.Email" class="form-control" placeholder="@getUser.Email">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">User Password</label>
                            <input type="text" asp-for="UpdateUser.UpdatePassword" name="UpdatePassword" value="@getUser.Password" class="form-control" placeholder="@getUser.Password">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">User Location</label>
                            <input type="text" asp-for="UpdateUser.UpdateEmail" name="UpdateLocation" value="@getUser.Location" class="form-control" placeholder="@getUser.Location">
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-auto">

                <form method="post" asp-page-handler="DeleteProfile">
                    <button value="@getUser.UserID" name="id" type="submit" class="btn btn-primary">Delete Profile</button>
                </form>

            </div>

            <div class="col-auto">
                <a asp-page="/PollsPages/CreatePollPage" class="btn btn-outline-success">Create A Poll</a>
            </div>

        </div>

        <br />

    </div>
}
