@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService UserService
@model ContosoCrafts.WebSite.Pages.RegisterModel
@*@model RegisterModel*@

@{
    ViewData["Title"] = "Register";
}

<div class="container">

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <form id='registrationForm' method="post" asp-page="Register">
                                @Html.HiddenFor(x => x.User.userID)

                                <div class="form-group">
                                    <label asp-for="User.username">Username</label>
                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.User.username, new { htmlAttributes = new { id = "username", @class = "form-control", placeholder = "Username" } })
                                    </div>
                                    <span id="usernameError" asp-validation-for="User.username" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <label asp-for="User.email">Email</label>
                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.User.email, new { htmlAttributes = new { id = "email", @class = "form-control", placeholder = "Email" } })
                                    </div>
                                    <span confirmPasswordError="emailError" asp-validation-for="User.email" class="text-danger"></span>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

                                </div>
                                <div class="form-group">
                                    <label asp-for="User.password">Password</label>
                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.User.password, new { htmlAttributes = new { type = "password", id = "password", @class = "form-control", placeholder = "Password" } })
                                    </div>
                                    <span id="passwordError" asp-validation-for="User.password" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input id="confirmPassword" for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                                    <span id ="confirmPasswordError" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.location">Location</label>
                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.User.location, new { htmlAttributes = new { id = "location", @class = "form-control", placeholder = "Location" } })
                                    </div>
                                    <span id="locationError" asp-validation-for="User.location" class="text-danger"></span>

                                </div>
                                <button id="submitRegistration" type="submit" value="save" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>


</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}